{% extends 'base.html.twig' %}
{% block title %}Edit | Blog-us{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/admin/blog/edit.css') }}">
{% endblock %}
{% block body %}
    <div class="content-page">
        <h1>Editer l'article de blog</h1>
        {{ form_start(form) }}
        <div class="title input">
            {{ form_row(form.title) }}
        </div>
        <div class="content input">
            {{ form_row(form.content) }}
        </div>
        <div class="other">
            <div class="author input">
                {{ form_row(form.id_author) }}
            </div>
            <div class="thumbnail input">
                {{ form_row(form.imageFile) }}
            </div>
            <div class="slug input">
            </div>
        </div>
        <div class="button-box">
            <button class="button input">Editer <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
            <a href="{{ path('admin.blog.index') }}" class="btn-red input">Annuler <i class="fa-solid fa-xmark" style="color: #ffffff;"></i></a>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

