{% extends 'base.html.twig' %}
{% block title %}Le blog{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/blog/show.css') }}">
{% endblock %}
{% block body %}
   {% if blog.thumbnail %}
       <img src="{{ asset('/images/blog/')}}{{blog.thumbnail}}" alt="{{ blog.thumbnail }}" class="img">
    {% endif %}
    <h1 class="blog-title">{{ blog.title }}</h1>
    <div class="info">
        <div class="author">
            <img src="{{ asset('/assets/img/')}}{{authorInformations[blog.idauthor].profilpic  }}" alt="{{ authorInformations[blog.idauthor].firstname }}" class="profil-pic">
                <p class="firstname">{{ authorInformations[blog.idauthor].firstname }}</p>
                <p class="lastname">{{ authorInformations[blog.idauthor].lastname }}</p>
        </div>
        <div class="publish-date">
            <i class="fa-solid fa-clock"></i>
            <p class="date">{{ blog.createdat|date('d/m/Y H:i')}}</p>
        </div>
    </div>
    <div class="blog-content">
        {{ blog.content | raw }}
    </div>
    <a href="{{ path('blog.index')}}" class="button back">← Retour</a>
{% endblock %}