{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/contact/index.css') }}">
{% endblock %}

{% block body %}
    <div class="content-page">
        {% for user in users %}
            <div class="card block" id="{{ user.firstname }}">
                <div class="left-part">
                    <a href="#{{ user.firstname }}">
                        <div class="image"></div>
                    </a>

                </div>
                <div class="text">
                    <a href="#{{ user.firstname }}">{{ user.firstname }} {{ user.lastname }}</a>
                    <p>{{ user.role }}</p>
                    <a class="button no-visible" href="mailto:{{ user.email }}" target="_blank">Envoyer un mail  <i class="fa-regular fa-paper-plane" style="color: #ffffff;"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
