<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('/assets/img/Logo.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('/assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/footer.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar jcontent-center">
        <a href="{{ path('home') }}" class="navbar-btn home {% if current_menu  is defined and current_menu == 'home' %}active{% endif %}">Accueil</a>
        <a href="{{ path('blog.index') }}" class="navbar-btn blog {% if current_menu  is defined and current_menu == 'blog' %}active{% endif %}">Blog</a>
        <a href="{{ path('who') }}" class="navbar-btn who {% if current_menu  is defined and current_menu == 'who' %}active{% endif %}">Qui sommes nous ?</a>
        <a href="{{ path('contact') }}" class="navbar-btn contact {% if current_menu  is defined and current_menu == 'contact' %}active{% endif %}">Contact</a>
    </nav>
        {% block body %}{% endblock %}
    </body>
<footer>
    <div class="footer block">
        <div class="left-part">
            <img src="{{ asset('/assets/img/blog-us.png') }}" alt="blog-us logo text" width="50%">
            <div class="address">
                <h1>Adresse</h1>
                <a href="https://www.google.fr/maps/place/ESGI+Aix-en-Provence/@43.5094452,5.4366797,15.61z/data=!4m6!3m5!1s0x12c98d8132772773:0x671b3f89fff5d7f0!8m2!3d43.5135555!4d5.428063!16s%2Fg%2F11fqv12pzy" target="_blank">684 Avenue du Club Hippique,<br>Aix-en-Provence 13100</a>
            </div>
        </div>
        <div class="midle-part">
            <span class="quote"><img src="{{  asset('/assets/img/quote.svg') }}" alt="quotes"></span>
            <p>La technologie n'est pas un substitut à la motivation et à l'engagement, mais elle peut être un catalyseur pour les deux.</p>
            <p>- Zig Ziglar</p>
        </div>
        <div class="right-part">
            <div class="newsletter">
                <h1>Newsletter</h1>
                <form action="" method="post">
                    <input type="email" name="email-input" id="email-input" class="email-input" placeholder="✉ Entrez votre adresse email">
                    <button type="submit">S'abonner →</button>
                </form>
            </div>
            <div class="liens">
                <div class="navbar-footer">
                    <a href="{{ path('home') }}" class="navbar-footer-btn home">Accueil</a>
                    <a href="{{ path('blog.index') }}" class="navbar-footer-btn blog">Blog</a>
                    <a href="{{ path('who') }}" class="navbar-footer-btn who">Qui sommes nous ?</a>
                    <a href="{{ path('contact') }}" class="navbar-footer-btn contact">Contact</a>
                </div>
                <a href="{{ path('sitemap') }}" class="sitemap ">Sitemap</a>
            </div>
        </div>
    </div>
</footer>
</html>
